body {
    text-align: center;
    background-color: black;
    .image-row {
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
}

}

h1 {
    font-family: sans-serif;
    font-size: 72px;
}

p {
    font-size: 20px;
}
