body {
    text-align: center;
    background-color: black;


}
img {
    display: block;
    margin-bottom: 10px;
}

h1 {
    font-family: sans-serif;
    font-size: 72px;
}

p {
    font-size: 20px;
}
